* {
    padding: 0%;
    margin: 0%;

}

html {
    scroll-behavior: smooth;
}

.logo img {
      width: 80%;
    height: 70%;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
    top: 0;
    cursor: pointer;
    
    background-color:#a2e8ff
}
 .nav-list {
   
    display: flex;
    list-style: none;
    width: 70%;
    margin: 0px;
} 

.nav-list li {
    font-size: 30px;
    text-decoration: none;
    padding: 45px 0px;
    
}

.nav-list li :hover {
    color: rgb(85, 17, 17);
}

.nav-list li a {
    text-decoration: none;
    color: rgb(12, 12, 12);
margin: 50px;
     font-size: 40px;
        font-weight: 100;
    color: rgb(12, 165, 192);
}

/* 
.button {
    padding: 20px;

} */


.thumbail img{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 26px;
    margin-top:19px ;
    margin-right: 10px;
    width: 265px;
}


.rightnav {
    text-align: center;
    width: 30%;
    /* background-color: blanchedalmond; */
  
}


.btn-sm {

    border-radius: 10px;
    cursor: pointer;
     font-size: 30px;
    font-weight: 60%;
    color: rgb(12, 165, 192);
    text-decoration: none;
}

:hover.btn-sm{
    color: rgb(85, 17, 17);
}

.background {
    background:  url("https://legalman.in/wp-content/uploads/2024/04/shutterstock_555713008-scaled-1-1.webp") ;
    /* url("/Website/accounting.jpg"); */
    /* width: 100%; */
    background-size: 100%;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}





.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firsthalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.secondhalf img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40%;
    margin: auto;
    display: block;
    
}

.text-big {
      font-size: 120%;
    font-weight: 500;
    text-transform: uppercase;
}

.text-small {
    font-size: 18px;
}

.btns {
    MARGIN: 7PX;
    background: BLACK;
    padding: 7px 80PX;
    border: 2px solid #100f0f;
    border-radius: 10px;
    color: WHITE;
    cursor: pointer;
justify-content: space-evenly;
}

.btn {
    
        width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Gilroy Font";
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 24px;
}



.paras {
    padding: 0px 65px;
}

.section-left {
    flex-direction: row-reverse;

}

.section {
    /* height: 300px; */
    display: flex;
    /* padding: 10px; */
    align-items: center;
    justify-content: space-evenly;
    max-width: 85%;
    margin: auto;

}

.sectiontag{
    background-color: #a2e8ff;
    margin: 10px;
    
    
}

#Contact{    
    margin-left: 80px;
    text-align: center;
    font-size: 25px;
}

.group{
    text-align: center;
    font-size: 20px;
    padding: 10px;

     
}

.container {
    margin-left: 400px;
}


/* FOOTER */

.text-footer{
    
        text-align: center;
    padding: 30px;
    font-family: "ubuntu", sans-serif;
    color: white;
}
/* .burger{
    top: 15px;
    position: absolute;
    cursor: pointer;
    right: 5%;
display: none;
} */

.line{
    background-color: white;
width: 33px;
height: 4px;
margin: 5px 3px;
}

.abouts{
margin-right: 7%;

}




.EndGrid{
    width: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    align-self: flex-start !important;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.sectiontag{
    font-size: 25px;
    font-weight: 800;
   
}

.kiran{
     text-align: center; 

}

:hover.kiran {
    color: rgb(85, 17, 17);
    
  
}


.btns{
position: relative;
    background-color: #2d2c2c;
    border-radius: 20px;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 50px;
color: white;
font-size: 30px;
margin-top: 20px;
  
}

:hover.btns {

    background-color: #a2e8ff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
   
}

.batten{
   text-decoration: none;
}

.email{

    text-decoration: none;
}

.backgrounds{
    background-color: #a2e8ff;
     border-radius: 10px;
       font-size: 30px;
    font-weight: 60%;
   
    
}

.text-footer {
   

}


.Instagram{
width:5px;
 
    color: white;
    text-decoration: none;
height:5px;
}


@media  (max-width:1140px){


.btns{
  align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 1000px;
}

}

@media  (max-width:1040px ){
.btns{
    width: 900px;
}


}

@media(max-width : 980px){
    .section  {
        flex-direction: column-reverse;
    }
    .box-main{
        flex-direction: column-reverse;
       max-height: 1100vh;
    }
    .thumbail img {
        width: 100%;
        height: 300px;
    }
    .nav-list li a {
        font-size: 30px;
    }

    .btns{
  align-items: flex-start;
    display: block;
    flex-direction: column;
    margin: 20px;
    width: 85%;
    text-align: center;
}

.logo img{
height: 80px;
    width: 80px;
    margin-right: 15px;
    /* margin-top: 40px; */

}

.nav-list .btn-sm{
    font-size: 97%;
    margin: 0;
    margin-right: 35px;

}
#Contact{  
margin: 20px;
}

.abouts{
margin-right: 7%;

font-size: 24px;
}

.firstsection {
    height: 65vh;
    background-size: cover;
}

@media(max-width : 345px){

   .email{
font-size: 23px;
    }
}
}